<a [routerLinkActive]="['is-active']"  [routerLinkActiveOptions]="{exact: true}" class="sidebar-link" routerLink="/">
    <span class="sidebar-link__icon icon-home"></span>
</a>
<a [routerLinkActive]="['is-active']" class="sidebar-link" routerLink="/notification">
    <span class="sidebar-link__icon icon-bell"></span>
</a>
<a [routerLinkActive]="['is-active']" class="sidebar-link" routerLink="/favorites">
    <span class="sidebar-link__icon icon-heart"></span>
</a>
<a [routerLinkActive]="['is-active']" class="sidebar-link" routerLink="/cart">
    <span class="sidebar-link__icon icon-cart"></span>
</a>

